<% tutor_sessions.each do |tutor_session| %>
  <div class= "col mb-4">
    <div class="card h-100 session-card" >
      <%# if failed to load image, load Unsplash image instead %>
      <%= link_to tutor_session do %>
        <%= image_tag tutor_session.header_img, alt: "tutor session header image", onerror: "this.onerror=null;this.src=\"#{TutorSession::NOT_FOUND_PICTURE}\";" %>


        <%# display imdb rating and title %>
        <div class="card-body p-2">
          <h6 class="card-title font-weight-normal"style="min-height: 60px; max-height: 60px; overflow: hidden;"><%= tutor_session.title %></h6>
        </div>
      <% end %>
    </div>
  </div>
<% end %>