<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 m-auto ">
      <div class="w-100 card mt-4 shadow">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

