<% if notice %>
  <div class='alert alert-success text-center pt-5 pb-4'>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class='alert alert-danger text-center pt-5 pb-4'>
    <%= alert %>
  </div>
<% end %>
