<% if notice %>
  <div class='alert alert-success text-center pt-4 pb-3'>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class='alert alert-danger text-center'>
    <%= alert %>
  </div>
<% end %>
